{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
            {% for kafedra in kaf %}
                <a href="{{ kafedra.get_absolute_url }}" class="btn">{{ kafedra.title }}</a>
            {% endfor %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/tranmux.jpg" %}">
                </div>
                <div class="right">
                    <p>{{ kafedra.title }} kafedra mudiri</p>
                    <p><b>{{ kafedra.name }}</b> PhD, dotsent </p>
                    <p><b>Qabul vaqti:</b>{{ kafedra.qabul }}</p>
                    <p><b>Telefon:</b>{{ kafedra.telRaqam }}</p>
                    <p class="poshta"><b> E-mail: </b> {{ kafedra.mail }} </p>
                </div>
            </div>
            <p><b>Kafedra tarixi:</b>{{ kafedra.text }} <br><br></p>

        </div>
    </div>
</div>

{% endblock content %}




